# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.whl
.eggs/

# Virtual environments
.venv/
venv/
env/

# Distribution
sdist/
wheels/

# mypy / type checkers
.mypy_cache/
.dmypy.json
.pyre/

# pytest
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
